In [12]:
import scipy
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import MiniBatchKMeans
import pandas as pd
from sqlalchemy import create_engine
import warnings
import matplotlib.pyplot as plt
from scipy.cluster.hierarchy import dendrogram, linkage
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import AgglomerativeClustering
from sklearn.decomposition import PCA
from sklearn import datasets, metrics

In [2]:
!pip install --force-reinstall 'sqlalchemy<2.0.0'

Collecting sqlalchemy<2.0.0
  Using cached SQLAlchemy-1.4.54-cp311-cp311-macosx_10_9_universal2.whl.metadata (10 kB)
Using cached SQLAlchemy-1.4.54-cp311-cp311-macosx_10_9_universal2.whl (1.6 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.54
    Uninstalling SQLAlchemy-1.4.54:
      Successfully uninstalled SQLAlchemy-1.4.54
Successfully installed sqlalchemy-1.4.54

In [8]:


engine2 = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

heartdisease_df = pd.read_sql_query('SELECT * FROM heartdisease',con=engine2)
engine2.dispose()

In [9]:
heartdisease_df.head()

      0    1    2      3      4    5    6      7    8    9   10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0

In [13]:
# Define the features and the outcome
X = heartdisease_df.iloc[:, :13]
y = heartdisease_df.iloc[:, 13]

# Replace missing values (marked by `?`) with a `0`
X = X.replace(to_replace='?', value=0)

# Binarize `y` so that `1` means heart disease diagnosis and `0` means no diagnosis
y = np.where(y > 0, 1, 0)

In [14]:
from sklearn.cluster import DBSCAN
# Standardizing the features
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [15]:
# Defining the agglomerative clustering
dbscan_cluster = DBSCAN(eps=1, min_samples=1)

In [21]:
# Defining the agglomerative clustering
dbscan_cluster = DBSCAN(eps=1, min_samples=1)
db=dbscan_cluster.fit(X_std)
labels = db.labels_
 
# Number of clusters in labels, ignoring noise if present.
print('number of clusters:' , len(set(labels)) - (1 if -1 in labels else 0))

number of clusters: 294

In [25]:
for sample in range(1,5,1):
    dbscan_cluster = DBSCAN(eps=1, min_samples=sample)
    db=dbscan_cluster.fit(X_std)
    labels = db.labels_
    print('min_samples :',sample)
    print('number of clusters:' , len(set(labels)) - (1 if -1 in labels else 0))

min_samples : 1
number of clusters: 294
min_samples : 2
number of clusters: 8
min_samples : 3
number of clusters: 1
min_samples : 4
number of clusters: 0

In [30]:
for eps in range(1,6,1):
 for sample in range(1,5,1):
    dbscan_cluster = DBSCAN(eps=eps, min_samples=sample)
    db=dbscan_cluster.fit(X_std)
    labels = db.labels_
    print('eps :',eps,'min_samples :',sample)
    print('number of clusters:' , len(set(labels)) - (1 if -1 in labels else 0))

eps : 1 min_samples : 1
number of clusters: 294
eps : 1 min_samples : 2
number of clusters: 8
eps : 1 min_samples : 3
number of clusters: 1
eps : 1 min_samples : 4
number of clusters: 0
eps : 2 min_samples : 1
number of clusters: 178
eps : 2 min_samples : 2
number of clusters: 30
eps : 2 min_samples : 3
number of clusters: 14
eps : 2 min_samples : 4
number of clusters: 8
eps : 3 min_samples : 1
number of clusters: 34
eps : 3 min_samples : 2
number of clusters: 8
eps : 3 min_samples : 3
number of clusters: 5
eps : 3 min_samples : 4
number of clusters: 3
eps : 4 min_samples : 1
number of clusters: 3
eps : 4 min_samples : 2
number of clusters: 1
eps : 4 min_samples : 3
number of clusters: 1
eps : 4 min_samples : 4
number of clusters: 1
eps : 5 min_samples : 1
number of clusters: 1
eps : 5 min_samples : 2
number of clusters: 1
eps : 5 min_samples : 3
number of clusters: 1
eps : 5 min_samples : 4
number of clusters: 1

## Increase in  EPS OR increase in number of points result in Fewer clusters.